<app-header></app-header>

<div class="main-div container my-3">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="https://img.freepik.com/free-vector/task-management-abstract-concept-illustration_335657-2127.jpg?w=2000"
                width="100%" height="560px" alt="">
        </div>
        <div class="col-md-6 col-xs-12 mt-5">
            <u><h1 class="text-center mt-5 fw-bold ">Register</h1></u>
            
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3 ">
                    <label  class="form-label">Username</label>
                    <input name="username" formControlName="username" type="text" class="form-control w-75" >
                    <div class="text-danger" *ngIf="this.registerForm.get('username')?.errors&&this.registerForm.get('username')?.touched">Invalid username</div>
                </div>
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" formControlName="email" type="email" class="form-control w-75" >
                    <div class="text-danger" *ngIf="this.registerForm.get('email')?.errors&&this.registerForm.get('email')?.touched">Invalid email</div>

                </div>
                <div class="mb-3 ">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" formControlName="password" type="password" class="form-control w-75" >
                    <div class="text-danger" *ngIf="this.registerForm.get('password')?.errors&&this.registerForm.get('password')?.touched">Invalid password</div>

                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary fw-bold">Register</button>
                </div>
                <div class="d-flex">
                    <p>Already have an account?</p>&nbsp;&nbsp;&nbsp;
                    <a class="text-decoration-none fw-bold " routerLink="">Login</a>
                </div>



            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>